@use 'sass:map';
@use '../utils';

$-select-item-indicator-size: 1em * utils.$control-line-height;

.select {
  @include utils.input;

  &--small {
    @include utils.input--small;
  }

  &--invalid {
    @include utils.input--invalid;
  }
}

.select__placeholder {
  opacity: 0.5;
}

.select__icon-wrapper {
  margin-left: auto;
  padding-left: utils.$control-padding-horizontal;
}

.select__icon {
  vertical-align: middle;
}

.select__dropdown {
  @include utils.theme('light') {
    --select-item-color-hover: var(--theme-color-gray-100);
  }

  @include utils.theme('dark') {
    --select-item-color-hover: var(--theme-color-gray-800);
  }

  @include utils.overlay-border;

  background-color: var(--theme-color-background);
  border-radius: utils.$control-border-radius;
  padding: var(--theme-spacing-2);
  z-index: utils.$z-index-dropdown;
}

.select__item {
  @include utils.control;
  @include utils.control--auto-height;

  color: var(--theme-color-text);
  display: flex;

  &[data-highlighted] {
    background-color: var(--select-item-color-hover);
  }

  &[data-disabled] {
    @include utils.disabled;
  }

  &:not([data-state='checked']) {
    padding-right: calc(#{utils.$control-padding-horizontal} + #{$-select-item-indicator-size});
  }

  .select__dropdown--small & {
    @include utils.control--small;
  }
}

.select__item-indicator {
  display: inline-flex;
  justify-content: center;
  margin-left: auto;
  width: $-select-item-indicator-size;

  .select__item[data-state='checked'] & {
    color: var(--theme-color-accent);
  }
}

.select__scroll-button {
  align-items: center;
  display: flex;
  font-size: utils.$control-font-size;
  height: 1.5em;
  justify-content: center;
}
