@use 'sass:map';
@use '../utils';

$-animation-duration: 400ms;
$-animation-timing: cubic-bezier(0.16, 1, 0.3, 1);
$-animation-slide-distance: 4px;

@keyframes tooltip-slide-up {
  0% {
    opacity: 0;
    transform: translateY($-animation-slide-distance);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tooltip-slide-down {
  0% {
    opacity: 0;
    transform: translateY(-$-animation-slide-distance);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tooltip-slide-left {
  0% {
    opacity: 0;
    transform: translateX($-animation-slide-distance);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes tooltip-slide-right {
  0% {
    opacity: 0;
    transform: translateX(-$-animation-slide-distance);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.tooltip {
  @include utils.theme('light') {
    --tooltip-color-text: var(--theme-color-text-light);
    --tooltip-color-background: var(--theme-color-dark);
  }

  @include utils.theme('dark') {
    --tooltip-color-text: var(--theme-color-text-dark);
    --tooltip-color-background: var(--theme-color-light);
  }

  @include utils.control;
  @include utils.control--auto-height;

  background-color: var(--tooltip-color-background);
  color: var(--tooltip-color-text);
  user-select: none;
  z-index: utils.$z-index-tooltip;

  @media (prefers-reduced-motion: no-preference) {
    &[data-state='delayed-open'] {
      &[data-side='top'] {
        animation: tooltip-slide-down $-animation-duration $-animation-timing;
      }

      &[data-side='bottom'] {
        animation: tooltip-slide-up $-animation-duration $-animation-timing;
      }

      &[data-side='left'] {
        animation: tooltip-slide-right $-animation-duration $-animation-timing;
      }

      &[data-side='right'] {
        animation: tooltip-slide-left $-animation-duration $-animation-timing;
      }
    }
  }
}

.tooltip__arrow {
  fill: var(--tooltip-color-background);
}
