@use 'functions';

@mixin parent-content($selectors) {
  @if & {
    #{functions.join-list(functions.append-list($selectors, $suffix: ' &'))} {
      @content;
    }
  } @else {
    #{functions.join-list($selectors)} {
      @content;
    }
  }
}

@mixin theme($theme-name) {
  @include parent-content('[data-theme="' + $theme-name + '"]') {
    @content;
  }
}

@mixin unselectable {
  user-select: none;
}

@mixin disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@mixin focus-ring($color: var(--theme-color-focus-ring), $width: var(--theme-focus-ring-size)) {
  /* Visible in the full-colour space */
  box-shadow: 0 0 0 $width $color;

  /* Visible in Windows high-contrast themes */
  outline: transparent solid 2px;
}

@mixin no-focus-ring {
  box-shadow: none;
  outline: none;
}
