.updateButton {
  height: auto;
  margin-left: var(--theme-spacing-4);
  margin-right: var(--theme-spacing-2);
  text-transform: uppercase;
}

/* TODO: update button needs more contrast because of inverted backgrounds */
