@use 'sass:color';
@use 'sass:map';
@use '../functions';
@use 'functions' as color-functions;

$-lightness: (
  100: 75%,
  200: 60%,
  300: 45%,
  400: 30%,
  500: 15%,
  600: 0,
  700: 15%,
  800: 30%,
  900: 45%,
  1000: 60%,
  1100: 75%,
);

@function -derive-colors($color-name, $color) {
  @return color-functions.derive-color-hues($color-name, $color, $-lightness, 600);
}

$-pallete: (
  'khmer-curry': #ec5756,
  'bleuchatel-blue': #488bff,
  'dr-white': #fafafa,
  'lead': #212121,
  'wild-dove': #8b8b8b,
);

$-main-colors: (
  'light': map.get($-pallete, 'dr-white'),
  'dark': map.get($-pallete, 'lead'),
  'accent': map.get($-pallete, 'bleuchatel-blue'),
  'primary': map.get($-pallete, 'bleuchatel-blue'),
  'secondary': map.get($-pallete, 'wild-dove'),
  'negative': map.get($-pallete, 'khmer-curry'),
);

$-base-colors: functions.map-collect(
  $-main-colors,
  -derive-colors('accent', map.get($-main-colors, 'accent')),
  -derive-colors('primary', map.get($-main-colors, 'primary')),
  -derive-colors('secondary', map.get($-main-colors, 'secondary')),
  -derive-colors('negative', map.get($-main-colors, 'negative')),
  -derive-colors('blue', map.get($-pallete, 'bleuchatel-blue')),
  -derive-colors('red', map.get($-pallete, 'khmer-curry')),
  -derive-colors('gray', map.get($-pallete, 'wild-dove'))
);

$-colors: map.merge(
  $-base-colors,
  (
    'background': map.get($-base-colors, 'dark'),
    'text': map.get($-base-colors, 'light'),
    'text-light': map.get($-base-colors, 'light'),
    'text-dark': map.get($-base-colors, 'dark'),
    'focus-ring': map.get($-base-colors, 'accent-500'),
    'primary-hover': map.get($-base-colors, 'primary-500'),
    'primary-active': map.get($-base-colors, 'primary-400'),
    'secondary-hover': map.get($-base-colors, 'secondary-500'),
    'secondary-active': map.get($-base-colors, 'secondary-400'),
    'negative-hover': map.get($-base-colors, 'negative-500'),
    'negative-active': map.get($-base-colors, 'negative-400'),
  )
);

/* stylelint-disable-next-line value-keyword-case */
$font-family-heading: Raleway, sans-serif;
/* stylelint-disable-next-line value-keyword-case */
$font-family-text: Roboto, sans-serif;

$theme: (
  'color': $-colors,
  'focus-ring-gap': 2px,
  'focus-ring-size': 2px,
  'font-family-heading': $font-family-heading,
  'font-family-text': $font-family-text,
  'font-size-1': functions.px-to-rem(10px),
  'font-size-2': functions.px-to-rem(12px),
  'font-size-3': functions.px-to-rem(13px),
  'font-size-4': functions.px-to-rem(14px),
  'font-size-5': functions.px-to-rem(16px),
  'font-size-6': functions.px-to-rem(18px),
  'font-size-7': functions.px-to-rem(20px),
  'font-size-8': functions.px-to-rem(24px),
  'font-size-9': functions.px-to-rem(28px),
  'font-size-10': functions.px-to-rem(32px),
  'font-size-11': functions.px-to-rem(42px),
  'line-height-heading': 1.25,
  'line-height-text': 1.5,
  'spacing-1': functions.px-to-rem(2px),
  'spacing-2': functions.px-to-rem(4px),
  'spacing-3': functions.px-to-rem(8px),
  'spacing-4': functions.px-to-rem(12px),
  'spacing-5': functions.px-to-rem(16px),
  'spacing-6': functions.px-to-rem(24px),
  'spacing-7': functions.px-to-rem(28px),
  'spacing-8': functions.px-to-rem(32px),
  'spacing-9': functions.px-to-rem(44px),
  'spacing-10': functions.px-to-rem(48px),
);
